/* global.css */
html,
body {
    background-color: white;
    font-family: "Heebo", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 20px;
    font-weight: 500;
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.black {
    color: black;
}

.primary {
    color: #FF6464;
}

.secondary {
    color: #00A8CC;
}

.dark {
    color: #21243D;
}

.light {
    color: #8695A4;
}

.footer {
    margin-top: auto;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.profile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin: 0 40px; /* Add margin to the left and right */
}

.left-content {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    text-align: center;
}

.right-content {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .profile-div {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 80px;
        margin: 0 100px; /* Increased margin for larger screens */
    }

    .left-content {
        width: auto;
        max-width: none;
        text-align: left;
        margin-bottom: 0;
    }

    .right-content {
        width: auto;
        justify-content: flex-start;
        margin-bottom: 0;
    }
}